{% extends "base.html" %}
{% load bootstrap3 %}
{% load my_filter %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" xmlns="http://www.w3.org/1999/html"/>
    <form method="post" action="" class="form-group">
        {% csrf_token %}
        <table class="table table-responsive">
            <tr>
                <td>
                    Device:
                </td>
                <td>
                    {{ form.device }}
                </td>
                <td>
                    show similar{{ form.similar }}
                </td>
                <td>
                    Brand:
                </td>
                <td>
                    {{ form.brand }}
                </td>
                <td>
                    Position:
                </td>
                <td>
                    {{ form.position }}
                </td>
            </tr>
            <tr>
                <td>
                    Second device:
                </td>
                <td>
                    {{ form.device2 }}
                </td>
                <td>
                    show similar{{ form.similar2 }}
                </td>
                <td>
                    Second brand:
                </td>
                <td>
                    {{ form.brand2 }}
                </td>
                <td>
                    Second Position:
                </td>
                <td>
                    {{ form.position2 }}
                </td>
            </tr>

        </table>

            Attributes:{{ form.attributes }}
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-dark" value="Find">
            Find
        </button>
    </form>

    {% if ok %}
        <table class="table table-striped">
            <tr>
                {% for i in attributes %}
                    <th class="border">
                        {{ i }}:
                    </th>
                {% endfor %}
            </tr>
            {% if similar%}
                {% for dict in list_dicts %}
                    <tr>
                        {% for attribute in attributes %}
                            <td class="border">
                                {{ dict|get_item:attribute }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        {% for attribute in attributes %}
                            <td class="border">
                                {{ dictio|get_item:attribute }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}

                {% if similar2 %}
                    {% for dict in list_dicts2 %}
                          <tr>
                              {% for attribute in attributes %}
                                  <td class="border">
                                      {{ dict|get_item:attribute }}
                                  </td>
                              {% endfor %}
                          </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    {% for attribute in attributes %}
                        <td class="border">
                            {{ dictio2|get_item:attribute }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    {% endif %}
{% endblock %}
